.Footer {
  background-color: #CAB598;
  * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .footer-content {
    max-width: 1200px;
  }
  .store-info {
    line-height: 2rem;
    font-size: 18px;
  }
  .footer-icons {
    font-size: 50px;
    color: #707070;
  }
  .footer-nav {
    font-size: 18px;
    text-indent: 35px;
  }
  .footer-item {
    line-height: 3rem;
  }
  .store-branch {
    font-size: 18px;
  }
  .store-branch p {
    margin-right: 50px;
    text-indent: -30px;
  }
  .branch-img img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    /* margin: 10px 10px; */
  }
  img {
    width: 100%;
    padding: 5px;
  }
  .copyright {
    font-size: 16px;
  }

  @media (max-width: 991.98px) {
    .store-info {
      margin-left: 80px;
      margin-top: 30px;
      padding: 10px;
    }
    .footer-item {
      margin-left: -80px;
      padding: 10px;
    }
    .store-branch p {
      font-size: 24px;
      text-indent: -50px;
      padding: 15px 40px;
    }
    .footer-icons .fab {
      font-size: 60px;
      color: #707070;
    }
    .branch-img {
      padding: 15px;
    }
    .branch-img img {
      width: 80px;
      height: 80px;
    }
    .branch-location {
      margin-bottom: 30px;
      padding: 25px;
      padding-top: 0;
    }
  }
}
