.productContent {
  max-width: 1440px;
}
.mainContent{
  border: 1px solid rgb(220, 217, 217);
  border-radius: 2px;
  margin: 30px;
  box-shadow:1px 1px 5px #ddd;
}
.product-container {
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
  border-radius: 2px;
  transform: scale(1);
  transition: 0.2s;
}
.product-container:hover {
  transform: scale(1.05);
}
.asideNav {
  box-shadow: 0 1px 2px;
}
.asideFilter {
  max-width: 1100px;
}
.filterContent {
  min-width: 200px;
}
.sidebarItem {
  transform: scale(1);
  transition: 0.2s;
}
.sidebarItem:hover {
  transform: scale(1.3);
}
